{
  "LINKDROP_MASTER_ADDRESS": "",
  "SIGNING_KEY": "",
  "FACTORY_ADDRESS": "0xBa051891B752ecE3670671812486fe8dd34CC1c8",
  "CAMPAIGN_ID": "1",
  "LINKS_NUMBER": "100",
  "WEI_AMOUNT": "10",
  "TOKEN_ADDRESS": "0x0000000000000000000000000000000000000000",
  "TOKENS_AMOUNT": "0",
  "EXPIRATION_TIME": "10000000000",
  "CHAIN": "mainnet",
  "DEFAULT_WALLET": ""
}
